.add {
    width: 80%;
    margin: 50px auto;
    color: #333;
    font-size: 16px;
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.add form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.add-img-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.add-img-upload p {
    font-weight: 600;
    color: limegreen;
}

.add-img-upload img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid limegreen;
}

.add-product-name,
.add-product-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-product-name input,
.add-product-description textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    transition: border-color 0.3s ease;
    font-size: 14px;
}

.add-product-name input:focus,
.add-product-description textarea:focus {
    border-color: limegreen;
    outline: none;
}

.add-category-price {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.add-category,
.add-price {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.add-category select,
.add-price input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    transition: border-color 0.3s ease;
    font-size: 14px;
}

.add-category select:focus,
.add-price input:focus {
    border-color: limegreen;
    outline: none;
}

.add-btn {
    width: 100%;
    max-width: 150px;
    padding: 12px;
    background-color: limegreen;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
}

.add-btn:hover {
    background-color: #39a839;
}

@media (max-width: 750px) {
    .add {
        padding: 20px;
    }

    .add-category-price {
        flex-direction: column;
    }

    .add form {
        gap: 20px;
    }
}
